* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  /* MAIN CONTAINER STYLING */
  .container {
    display: flex;
    width: 100%;
  }
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .container .navbar {
    background: #10131a;
    width: 4%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
  .navbar .navform {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    justify-content: space-between;
  }
  .logo {
    width: 40px;
    margin-left: -20px;
  }
  .container .navbar a {
    padding: 10px;
  }
  .container .navbar li {
    list-style: none;
    padding: 10px 10px 0px 10px;
  }
  .container .navbar .nav-options li {
    position: relative;
  }
  .container .navbar .nav-options li i {
    font-size: 30px;
    padding: 20px 10px 20px 0;
    color: #fff;
    margin-left: -20px;
  }
  .container .navbar .nav-options .option-name {
    font-size: 20px;
    color: #fff;
  }
  .container .navbar .nav-options .all-subjects a button {
    color: #fff;
    font-size: 20px;
    opacity: 0.6;
    background: #10131a;
    border: none;
    margin: 5px 0px 0px 0px;
  }
  .container .navbar .nav-options .all-subjects {
    position: absolute;
    left: 190%;
    border: #583da1 solid 3px;
    width: 30vb;
    top: 0;
    margin-top: 0;
    padding: 10px 10px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0;
    pointer-events: none;
    background: #10131a;
  }
  .container .navbar .nav-options .all-subjects .scrollable-sub {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 20vh;
  }
  *::-webkit-scrollbar {
    width: 0;
  }
  
  .container .navbar .nav-options .all-subjects li {
    padding: 5px 0px 5px 0px;
  }
  .container .navbar .nav-options li .option-name {
    opacity: 1;
    width: 100px;
  }
  .container .navbar .nav-options .Favourites {
    display: flex;
    align-items: center;
  }
  .container .navbar .nav-options .Favourites .option-name {
    padding: 5px 0px 5px 10px;
    background: #10131a;
  }
  .container .navbar .nav-options .Favourites .option-name {
    position: absolute;
    left: 190%;
    padding: 10px 0px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0;
    pointer-events: none;
  }
  .container .navbar .sign-out-btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0px 0px 20px 20px;
    color: #fff;
    margin-left: -20px;
  }
  .container .navbar .sign-out-btn .option-name {
    padding: 5px 0px 5px 10px;
    background: #10131a;
    position: absolute;
    left: 100%;
    padding: 10px 0px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0;
    pointer-events: none;
    font-size: 20px;
    color: #fff;
  }
  
  /* HOVERING EFFECTS FOR THE NAVBAR */
  .container .navbar .nav-options .Favourites:hover .option-name {
    opacity: 1;
    transition: 300ms ease-in-out;
  }
  .container .navbar .nav-options .subjects:hover .all-subjects {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: 300ms ease-in-out;
  }
  .container .navbar .sign-out-btn:hover .option-name {
    opacity: 1;
    width: 150%;
    transition: 300ms ease-in-out;
  }
  .container .navbar .nav-options .all-subjects a button:hover {
    color: #fff;
    opacity: 1;
  }
  .container .navbar .nav-options li i:hover,
  .container .navbar .sign-out-btn:hover {
    color: #4d5a7a;
    transition: 300ms ease-in-out;
  }