<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subjects</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="icon" type="png" href="{{ url_for('static',filename='logo.png')}}">
</head>
<body>
    <nav id="horinav">
        <form action="/home/{{id}}" name="navbar" method="post" class="navform">
            <a href="/home/{{id}}" class="navbutton"><button>Home</button></a>
            {% for subject in navsub %}
            <button name="navbarsubject" value="{{ subject }}" class="navbutton">{{ subject }}</button>
        {% endfor %}
    </form>
    <a href="/favorites/{{id}}" class="navbutton"><button>Favorites</button></a>
    <a href="/addsubjects/{{id}}" class="navbutton"><button>Add Subjects</button></a>
    <a href="/removesubjects/{{id}}" class="navbutton"><button>Remove Subjects</button></a>
    </nav>
    
    
    <div id="editsublst">
        <form action="" method="post" enctype="multipart/form-data">
        <p>Add Subjects</p>
        <label for="numsub">Number of Subjects:</label>
        <input type="number" name="numsub" id="numsub" value="{{ num }}" min="0"><br>
        {% for x in range(num) %}
        <label for="subject_{{ x }}">Subject {{ x+1 }}</label>
        <input type="text" name="subject_{{ x }}"><br>
        {% endfor %}
        <button type="submit" name="finalsubjects" value="submit">Submit</button>
    </div>
</form>
</body>
</html>
