<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" name="getfile" method="post">
        <input type="text" name="file" value="{{ search }}">
        <button type="submit">Submit</button><br>
        <div style="display: flex;">
            {% for pdf in pdflist %}  
            <div style="margin-right: 1rem;">
                <p>{{ pdf['filename'] }}</p>
                <embed src="{{ pdf['filelink'] }}"><br>
                <button name="pdfbutton" value="{{ pdf }}">Download</button><br>
            </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>