<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bevin.css')}}">
    <link rel="icon" href="{{ url_for('static',filename='logo.png')}}">
    <title>Favourites</title>
    <link rel="icon" type="image/x-icon" href="/static/nplogo2.svg">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2cBJNSEXyPFD2QDJb5cU/l/DAOlYw3Qi3ltQqCwH5TQ8tSWeJIc2tN" crossorigin="anonymous">
</head>
<body>
    <section class="container">
        <section class="navbar">
            <form action="/home/{{id}}" name="navbar" method="post" class="navform">
                <a href="/home/{{id}}"
                  ><img
                    class="logo"
                    src="{{ url_for('static',filename='logo.png')}}"
                    alt="logo"
                /></a>
                <ul class="nav-options">
                  <li class="Favourites">
                      <a href="/home/{{id}}" class="homenav">
                        <i class="fa fa-solid fa-home"></i>
                      </a>
                      <p class="option-name">Home</p>
                  </li>
                  <li class="Favourites">
                    <a href="/favorites/{{id}}"
                      ><i class="fa fa-solid fa-bookmark"></i
                    ></a>
                    <p class="option-name">Favourites</p>
                  </li>
                </ul>
                <a href="/" data-notes-target=".singlenotes9" class="sign-out-btn"
                  ><i class="fa fa-solid fa-right-from-bracket"></i>
                  <p class="option-name">Sign-Out</p>
                </a>
              </form>
        </section>
        <section class="secondcontainer">
          <!-- THIS IS THE CODE FOR HEADER -->
          <section class="header">
            <div class="div" style="display: flex; width: 20%; align-items: center;">
              
            </div>
            <div class="typed-text" id="notesText" >NOTES PORTAL</div>
            <ul>
                <li class="userinfoli" >
                    <button class="profile" data-profile-target="#profile-open"><i class="fa-solid fa-user" style="display: none;"></i></button>
                </li>
            </ul>
        </section>
    <form action="/favorites/{{id}}" name="getfile" method="post">
        <div id="home-container" style="display: flex;">
            {% for i in range(favoritelist|length-1,-1,-1) %} 
            <div id="pdf-file-containter">
            <button id="unfavorite-button" name="unfavorite" value="{{ favoritelist[i]['id'] }}" style="background-color: rgb(255, 208, 0); border-color: rgb(255, 208, 0);"></button>
            <div id="pdf-details">
                <embed src="{{ favoritelist[i]['filelink'] }}" style="border-radius: 1.2rem;border: 2px solid black;"><br><br>
                    <p>{{ favoritelist[i]['filename'] }}</p><br>
                </div>
                <button id="preview" value="{{ favoritelist[i] }}" name="preview" data-preview-target="#preview-pdf" type="button">Preview</button>
            </div> 
            {% endfor %}
            {% if favoritelist|length == 0 %}
            <p>You haven't selected any favorites!</p>
            {% endif %}
        </div>
      </div>
    </form>
    <div id="preview-pdf" class="preview-pdf">
        <div id="preview-pdf-filename">
        </div>
    </div>
    <div id="overlay" class="{{active}} {{active_r}}"></div> 
    <script src="{{ url_for('static',filename='index.js')}}"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</body>
</html>
