<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='navbar.css')}}">
    <title>Document</title>
</head>
<body>
    <nav id="horinav">
        <form action="/home/{{id}}" name="navbar" method="post" class="navform">
        <a href="/home/{{id}}" class="navbutton"><button><img class="logo" src="{{ url_for('static',filename='logo.png')}}" alt="logo"></button></a>
        {% for subject in navsublst %}
            <button name="navbarsubject" value="{{ subject }}" class="navbutton">{{ subject }}</button>
        {% endfor %}
        </form>
        <a href="/favorites/{{id}}" class="navbutton"><button><span>&#9733;</span></button></a>
    </form>    
    </nav>
    <div id="nav-files">
    <nav id="whitenav">
        <div style="width: 100vw;height: 6rem;">
        <a href="/upload/{{id}}" style="text-decoration: none;"><button id="upload-button">+</button></a><span style="text-decoration: none;color: #583DA1;">ADD FILE</span>
        </div>
    </nav>
    <form action="/favorites/{{id}}" name="getfile" method="post">
        <div id="home-container" style="display: flex;">
            {% for pdf in favoritelist %} 
            <div id="pdf-file-containter">
            <button id="unfavorite-button" name="unfavorite" value="{{ pdf['id'] }}" style="background-color: rgb(255, 208, 0); border-color: rgb(255, 208, 0);"></button>
            <div id="pdf-details">
                <embed src="{{ pdf['filelink'] }}"><br>
                    <p>{{ pdf['filename'] }}</p>
                </div>
                <button id="preview" value="{{ pdf }}" name="preview" data-preview-target="#preview-pdf" type="button">Preview</button>
            </div> 
            {% endfor %}
        </div>
    </form>
    </div>
    <div id="preview-pdf" class="preview-pdf">
        <div id="preview-pdf-filename">
        </div>
    </div>
    <div id="overlay" class="{{active}} {{active_r}}"></div> 
    <script src="{{ url_for('static',filename='index.js')}}"></script>
</body>
</html>