<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bevin.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/40b8ba8176.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/nplogo2.svg">
</head>
<body>
    <section class="container">
        <section class="navbar">
            <form action="/home/{{id}}" name="navbar" method="post" class="navform">
                <a href="/home/{{id}}"
                  ><img
                    class="logo"
                    src="{{ url_for('static',filename='logo.png')}}"
                    alt="logo"
                /></a>
                <ul class="nav-options">
                  <li class="subjects">
                    <div>
                      <a href="#">
                        <i class="fa-solid fa-file"></i>
                      </a>
                    </div>
                    <ul class="all-subjects">
                      <li>
                        <a href="#" class="option-name">Subjects</a>
                      </li>
                      <div class="scrollable-sub">
                        {% for subject in navsublst %}
                        <li>
                          <a href="#"
                            ><button name="navbarsubject" value="{{subject}}">
                              {{ subject }}
                            </button></a
                          >
                        </li>
                        {% endfor %}
                      </div>
                    </ul>
                  </li>
                  <li class="Favourites">
                    <a href="/favorites/{{id}}"
                      ><i class="fa-solid fa-bookmark"></i
                    ></a>
                    <p class="option-name">Favourites</p>
                  </li>
                </ul>
                <a href="/" data-notes-target=".singlenotes9" class="sign-out-btn"
                  ><i class="fa-solid fa-right-from-bracket"></i>
                  <p class="option-name">Sign-Out</p>
                </a>
              </form>
        </section>
    <section class="secondcontainer">
      <!-- THIS IS THE CODE FOR HEADER -->
      <section class="header">
        <div class="div" style="display: flex; width: 20%; align-items: center;">
          <button class="addfile" data-tooltip="Add Files" id="upload-button" data-upload-target="#uploadfilecont"
          style="border-radius: 100%;">
              &plus; 
          </button>
          <p class="typed-text" style="font-size: 1rem;">ADD FILES</p>
        </div>
        <div class="typed-text" id="notesText" >NOTES PORTAL</div>
        <ul>
            <li class="userinfoli">
                <button class="profile" data-profile-target="#profile-open"><i class="fa-solid fa-user"></i></button>
            </li>
        </ul>
    </section>
    <div class="profile-open" id="profile-open">
        <div class="profiletitle">
       <span style="font-weight: bold;">Hello {{username}} 👋</span> 
        <button data-close-button id="close">&times;</button>
        </div>
        <div class="profilebuttons">
        <button data-addsub-target="#addsubcont" class="navbutton">Add Subjects</button>
        <button data-addsub-target="#remsubcont" class="navbutton" class="rembut">Remove Subjects</button></a>
        <a href="/" style="text-decoration: none; color: white;"><button>Logout</button></a>
        </div>
    </div>
    <div id="uploadfilecont" class="uploadfile {{active_u}}">
        <div id="uploadfiletitle" class="uploadfiletitle">
            Upload File 
            <button data-close-button>&times;</button>
        </div>

        <div id="uploadfile-body" class="uploadfilebody">
            <form action="" method="post" enctype="multipart/form-data" class="uploadform" >
                {% with messages = get_flashed_messages()%}
                    {% if messages%}
                        {% for message in messages%}
                            <p style="color: red;">{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                
                <input type="file" name="file" id="file" required>
                <label for="subject" >
                    <input name="subject" style="width: 20rem;" type="text" placeholder="eg LADE for Linear Algebra and Differential Equation" required><br>
                    <input type="text" name="topic" placeholder="eg Eigenvalues">
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="addsubcont" class="addsub {{active}}">
        <div id="addsub" class="addsubtitle">
            Add Subjects 
            <button data-close-button>&times;</button>
        </div>
        <div id="addsub-body" class="addsubbody">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="addsubbodytile">
                <label for="numsub">Number of Subjects:</label>
                <input type="number" name="numsub" id="numsub" value="{{ num }}" min="0"><br>
                </div>
                <div class="addsubele">
                {% for x in range(num) %}
                <input type="text" name="subject_{{ x }}" placeholder="Subject {{ x+1 }}"><br>
                {% endfor %}
                </div>
                <button type="submit" name="finalsubjects" value="submit">Submit</button>
        </div>
    </div>
    <div id="remsubcont" class="remsub {{active_r}}">
        <div id="remsubtitle" class="remsubtitle">
            Remove Subjects 
            <button data-close-button>&times;</button>
        </div>
        <div id="remsub-body" class="remsubbody">
            <div id="editsublst">
                <form action="" method="post" enctype="multipart/form-data">
            {% for subject in tempnavsub %}
                <div class="remsubele">
                    <span>{{ subject }}</span>
                    <button name="editsubject" id="editsubject" value="{{ subject }}" >-</button>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
    <form action="/home/{{id}}" name="getfile" method="post" style="padding: 3rem;">
        <div id="home-container">
            {% for i in range(pdflist|length) %}  
            <div id="pdf-file-containter">
                <div id="pdf-buttons">
                {% if pdflist[i]['id'] in favoritelist %}
                <button name="favorite" id="favorite-button" value="{{ pdflist[i]['id'] }}" style="background-color: rgb(255, 208, 0); border-color: rgb(255, 208, 0);"></button>
                {% else %}
                <button name="favorite" id="favorite-button" value="{{ pdflist[i]['id'] }}"></button>
                {% endif %}
                </div>
                <div id="pdf-details">
                <embed id="pdf-file" src="{{ pdflist[i]['filelink'] }}">
                  <br><br>
                    <p>{{ pdflist[i]['filename'][:-4] }}</p>
                    <br>
                </div>
                <button id="preview" value="{{ pdflist[i] }}" name="preview" data-preview-target="#preview-pdf" type="button">Preview</button>
            </div>
            {% endfor %}
            {% if pdflist|length == 0 %}
            <p>Sorry we don't have any files for this subject</p>
            {% endif %}
        </div>
    </form>
</div>
<div id="preview-pdf" class="preview-pdf">
</div>


<div id="overlay" class="{{active}} {{active_r}} {{active_u}}"></div> 

<script src="{{ url_for('static',filename='index.js')}}"></script>
</body>
</html>