<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body style="margin: 0;overflow-y: hidden;">
    <div id="login-form-div"> 
        <div id="image-form">
            <img src="static/form-image.jpeg" alt="">
        </div>
    <div id="signin-form-div">
    <form action="" name="user" method="post" enctype="multipart/form-data" style="padding: 3rem;" id="form-signin">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" value="{{ firstname }}"><br>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" value="{{ lastname }}"><br>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ username }}"><br>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ mail }}"><br>
        <label for="numsub">Number of Subjects:</label>
        <input type="number" name="numsub" id="numsub" value="{{ num }}" min="0"><br>
        {% for x in range(num) %}
        <label for="subject_{{ x }}">Subject {{ x+1 }}</label>
        <input type="text" name="subject_{{ x }}"><br>
        {% endfor %}
        <button type="submit">Submit</button><br>
    </form>
    <a href="/signin" style="height: 1.2rem;"><button id="signinbutton">Sign in</button></a>
</div>
</div>
</body>
</html>